@import "../styles/default.css" screen;
@import "media-queries"; 
@import "mixin"; 


$blue-color: #468ADA;
$blue-bg: rgba(70, 138, 218, 0.3);

.btn, a.btn {
  width: 300px;
  height: 60px;
  background: $blue-color;
  @include font400(20px,23px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s linear;
    @include max-s(425px){
        width: auto; 
        padding: 0 10px;
    }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px #999;
  }
}


.HD2 {
  @include font500(30px,36px);
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 60px;

    @include max-s(768px){
      font-size: 25px; 
      line-height: 30px; 
    }
}

%HD2 {
  @include font500(30px,36px);
  color: #000;

    @include max-s(768px){
      font-size: 25px; 
      line-height: 30px; 
    }
}


////////////////////

.Main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    // overflow: hidden;
    // display: flex;
    // flex-direction: column;
    // min-height: 100%; 

}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.Top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
        transition: all 0.3s linear;

        @include max-s(1024px){
           margin-top: 5px; 
        }
    }
}

.fixed {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-box-shadow: 0 3px 7px #cec7c7;
  box-shadow: 0 3px 7px #cec7c7;
  //background: #468ADA;
  background: #89c0ff;

  .Top__wrap {
    margin-top: 5px;
    transition: all 0.3s linear;
  }
}

.Logo {
    
}

#hamburger {
  display: none;
  width: 30px;
  height: 22px;
  z-index: 15;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;

  @include max-s(1024px) {
    display: block;
    position: absolute;
    right: 15px;
    top: 11px;
  }
  span {
    position: relative;
    top: 8px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      top: -7px;
      left: 0px;
      background-color: #fff;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      top: 7px;
      left: 0px;
      background-color: #fff;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
    }
  }

  &.active {
 
    -webkit-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);

    span {
      background-color: transparent;

      &:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:after {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    }

  }

  &:hover {
    cursor: pointer;
  }
}


.Top-menu {
  flex: 1 1 auto;

  @include max-s(1024px) {
    position: absolute;
    width: 100%;
    margin: 0 -15px;
    height: 22px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include max-s(992px){
      
   }

    li {
      @include max-s(992px){
         width: 100%;
         margin-bottom: 10px;
      }

      a {
        @include font500(20px, 24px);
        color: #fff;
        text-decoration: none;
        display: block;


        &:hover {
          text-decoration: underline;
        }
      }

      &+li {
        margin-left: 20px;

        @include max-s(992px){
          margin-left: 0;
        }
      }
    }
  }
}

.dropDownMenu {

  @include max-s(1024px){
    display: none; 
    background: $blue-color;
    position: absolute;
    width: 100%;
    top: 34px;
    right: 0;
    left: 0;
    padding: 20px;

  }

}

header {
  width: 100%;
  background: url('../images/bg1.jpg') center top no-repeat;
  height: 838px; 

  @include max-s(1024px){
    height: auto;
    background-size: cover;
    padding-bottom: 30px; 
  }
}  

.header-title {
   padding-top: 220px;
   @include font500(60px,78px);
   color: $blue-color;
   text-transform: uppercase;
   margin-bottom: 20px;

    @include max-s(768px){ @include font500(45px,50px); }
    @include max-s(555px) { @include font500(38px, 45px); padding-top: 100px;}
    @include max-s(420px) { @include font500(35px, 42px);}

    span {
      color: #fff;
    }
   
}

.header-text {
  margin-bottom: 60px;

   p {
     @include font400(20px, 32px);
     color: #EEE;

      @include max-s(768px) {
        @include font400(18px, 25px);
      }
   }
}

.header-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .btn {
    @include max-s(555px) {
      margin-bottom: 20px;
    }
  }

}

.header-contacts {

  @include max-s(555px) {
    width: 100%;
    text-align: right;
  }

		&__phone {
      margin-bottom: 20px;
      a {
        @include font500(28px,30px);
        color: #fff;
        display: block;
        margin-bottom: 5px;

        @include max-s(768px) {
          @include font500(22px,25px);
        }
      }
    }

		&__socnet {
      text-align: right;
      a {
        margin: 0 5px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
}



.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 130px;

  @include max-s(768px){
    padding-top: 50px;
    padding-bottom: 50px;
  }


  &__img {
    width: 50%;
    margin-right: 10px;
    @include max-s(992px){
      width: 100%; 
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__text {
    width: 405px;
    padding-bottom: 20px;

    @include max-s(992px){
      width: 100%; 
    }

    p {
      @include font400(20px,24px);
      color: #000;
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.block-year {
  border: 3px solid #898989;
  position: relative;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__fixtext {
    display: block;
    position: absolute;
    left: -50px;
    top: 58px;
    transform: rotate(270deg);
    @include fontB(27px,27px);
    color: $blue-color;
    background: #fff;
    padding: 10px;
  }

  &__numb {
    @include fontB(123px,100px);
    color: $blue-color;
    margin-right: 40px;
  }

  &__text {
    flex:1 1;
    @include font400(20px,24px);
    color: #000;

    span {
      display: block;
      @include fontB(48px,40px);
      color: $blue-color;
      margin-bottom: 10px;
    }
  }
}


.project {
  padding-bottom: 130px;

  @include max-s(768px){
    padding-bottom: 50px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__numb {
    @include fontB(100px,90px);
    color: $blue-color;
    margin-bottom: 20px;
  }

  &__text {
    @include font400(22px,24px);
    color: #000;
    text-align: center;
  }
}

.block2 {
  background: $blue-bg;
  margin-bottom: 130px;

  @include max-s(768px){
    margin-bottom: 50px;
  }
}

.block2-wrap {
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //margin: 0 -1rem;

  @include max-s(420px){
    margin: 0 ;
  }

}
.block2-item {
  // width:calc(1/3*95% - 1rem);
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 50px;

  @include max-s(768px){
    margin: 0 0px 50px;
    width: 100%;
  }

  

		&__title {
      @include fontB(19px,22px);
      color: $blue-color;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }

		&__wrap {
      flex-grow:1; 
      background: #468ADA;
      position: relative;
      padding: 30px 15px;
      // height: 230px;
    }

		&__text {
      @include font400(18px,26px);
      color: #fff;
      
    }

		&__icon {
      position: absolute;
      bottom: -30px;
      right: -30px;

      @include max-s(768px){
        right: 30px;
        bottom: -30px;
      }
      
      img {
        width: 70px;
        @include max-s(768px){
          width: 50px;
        }
      }
    }
}


.block3 {
  margin-bottom: 135px;

  @include max-s(768px){
    margin-bottom: 50px; 
  }
}

.Example {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
    @include max-s(992px){
      flex-wrap: wrap;
    }


  &__info {
    width: 445px;
    margin-right: 10px;
    @include max-s(992px){
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 8px;

    &.active {
      background: rgba(200, 220, 244, 0.6);

      div, span {
        @include font500(20px,24px);
        color: #000;
        @include max-s(768px){
          font-size: 18px; 
        }
      }
    }

    div, span {
      @include font400(20px,24px);
      color: #000;
      @include max-s(768px){
        font-size: 18px; 
      }
    }
    div {
      flex: 1 1 auto;
      margin-right: 10px;
    }
    span {
      @include font400(20px,24px);
      color: #000;
      width: 140px;
      text-align: right;

    }
  }

  &__img {
    width: 50%;
    text-align: right;
    @include max-s(992px){
      width: 100%;
      text-align: center;
    }
  }
}


.block4  {
  background: $blue-bg;
  margin-bottom: 135px;

  @include max-s(768px){
    margin-bottom: 50px; 
  }
}

.Algoritm {
  max-width: 1440px;
   width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row-reverse;
  overflow: hidden;

    @include max-s(768px){
      flex-wrap: wrap;
    }

  &__img {
    position: relative;
    flex: 0 0 360px;
    transform: translate(100%, 0px);
    font-size: 0;

     @include max-s(768px){
      flex: 0 0 100%;
      transform: translate(0, 0px);
      text-align: center;
      padding: 0 15px;
    }
  }

  &__content {
    display: flex;
    flex: 0 0 100%;
  }

  &__container {
    max-width: 1160px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__info {
    width: 65%;
    padding: 30px 0 30px 30px;
    //max-width: 750px;

      @include max-s(992px){
        width: 55%;
      }
      @include max-s(768px){
        width: 100%;
        padding: 30px 0;
      }
    
    .HD2 {
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 20px;
        @include max-s(768px){
          text-align: center; 
        }

      span {
        color: $blue-color;
      }
    }

    .txt {
      @include font400(20px,24px);
      color: #000;
      margin-bottom: 35px;
    }

    a.btn {
      @include max-s(768px){
        margin: 0 auto;
      }
    } 
  }
}

.block5 {
  padding-bottom: 135px;

  @include max-s(768px){
    padding-bottom: 50px;
  }
}

.Client {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
    @include max-s(768px){
      flex-wrap: wrap;
    }


  &__numb {
    width: 50%;
    margin-right: 25px;

      @include max-s(768px){
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }

    .item {
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      align-items: center;

      div {
        @include fontB(100px,100px);
        color: $blue-color;
        text-align: center;
        flex: 0 0 180px;

        @include max-s(768px){
          @include fontB(60px,60px);
          flex: 0 0 130px;
        }
      }
      span {
        @include font400(22px, 24px);
        color: #000;
        padding-left: 10px;
      }
    }
  }

  &__count {
    width: 370px;

    @include max-s(768px){
      width: 90%;
      margin: 0 auto;     
    }
  }
}

.block-client {
  border: 3px solid #898989;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

      @include max-s(768px){
          
      }

  &__fixtext {
    display: block;
    position: absolute;
    left: -50px;
    top: 36%;
    transform: rotate(270deg);
    @include fontB(27px,27px);
    color: $blue-color;
    background: #fff;
    padding: 10px;
  }

  &__numb {
    @include fontB(100px,100px);
    color: $blue-color;
    @include max-s(768px){
      @include fontB(70px,70px);
    }
  }

  &__text {
    flex:1 1;
    @include font400(20px,24px);
    color: #000;
    text-align: center;

    span {
      display: block;
      @include fontB(48px,40px);
      color: $blue-color;
      margin-bottom: 10px;

      @include max-s(768px){
        @include fontB(35px,35px);
      }
    }
  }
}


.block6  {
  background: $blue-bg;
  margin-bottom: 135px;

  @include max-s(768px){
    margin-bottom: 50px; 
  }
}

.Otchet {
  max-width: 1440px;
   width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;

    @include max-s(768px){
      flex-wrap: wrap;
    }

  &__img {
    position: relative;
    flex: 0 0 487px;
    transform: translate(-100%, 0px);
    font-size: 0;

      @include max-s(1160px){
        flex: 0 0 350px;
      }

     @include max-s(768px){
      flex: 0 0 100%;
      transform: translate(0, 0px);
      text-align: center;
      padding: 0 15px;
    }
  }

  &__content {
    display: flex;
    flex: 0 0 100%;
  }

  &__container {
    max-width: 1160px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__info {
    width: 60%;
    padding: 30px 0 30px 30px;
    //max-width: 750px;

      @include max-s(992px){
        width: 50%;
      }
      @include max-s(768px){
        width: 100%;
        padding: 30px 0;
      }
    
    .Desc {
      @include font400(20px,24px);
      color: #000;
      margin-bottom: 20px;

        @include max-s(768px){
          text-align: center; 
        }
    } 
    .HD2 {
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 35px;

        // @include max-s(992px){
        //   font-size: 25px;
        //   line-height: 26px;
        //   //text-align: center; 
        // }
        @include max-s(768px){
          // font-size: 22px;
          // line-height: 22px;
          text-align: center; 
        }

      span {
        color: $blue-color;
      }
    }


    a.btn {
      @include max-s(768px){
        margin: 0 auto;
      }
    } 
  }
}

.block7 {
  padding-bottom: 130px;

  @include max-s(768px){
    padding-bottom: 50px;
  }
}

.Doc {
  width: 90%;
  margin: 0 auto;

    @include max-s(992px){
      width: 80%; 
    }
}


.block8  {
  background: $blue-bg;
  margin-bottom: 135px;

  @include max-s(768px){
    margin-bottom: 50px; 
  }
}

.Step {
  padding: 80px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include max-s(768px)  {
    padding: 80px 0 80px;
  }

  &__item {
    width: 360px;
    height: 200px;
    background: #468ADA;
    padding: 25px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin:0 60px 60px;

      @include max-s(768px){
        width: 95%;
        height: auto;
        margin:0 0px 60px;
      }
      @include max-s(425px){
        padding: 25px 10px;
      }
      

    .numb {
      flex: 0 0 20%;
      @include fontB(110px,100px);
      color: #fff;
      margin-right: 10px;
    }

    .text {
      flex: 0 0 75%;
      @include font400(18px,26px);
      color: #fff;
    }

    .icon {
      position: absolute;
      bottom: -40px;
      right: -20px;
      width: 70px;

      @include max-s(768px){
        width: 50px;
        bottom: -27px; 
        right: 30px;
      }

    }
  }
}



.Service {

    @include max-s(1260px){
      width: 93%; 
      margin: 0 auto;
    }
    @include max-s(768px){
      width: 100%; 
    }

  &__item {
    border: 3px solid #898989;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 80px;

      @include max-s(992px){
        align-items: center;
      }
      @include max-s(768px){
        flex-wrap: wrap;
      }

  }

  &__img {
    width: 400px;
    //margin-right: 30px;
    transform: translate(-15%, 0px);
    font-size: 0;

      @include max-s(1024px){
        width: 350px; 
      }
      @include max-s(768px){
        transform: translate(0%, -40px);
        width: 100%;
        text-align: center;
      }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;

      @include max-s(768px){
        flex: 1 1 100%;
        margin-top: -25px;
      }
  }

  &__info-title {
    @extend %HD2;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include max-s(1024px){
      text-align: center;
    }
    
  }

  &__info-txt {
    @include font400(18px,24px);
    color: #000;
    margin-bottom: 20px;
  }

  &__bootom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

      @include max-s(992px){
        justify-content: center;
      }
  }

  &__price {
    @extend %HD2;
    @include max-s(992px){
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .btn {
    width: 259px;
    @include max-s(425px){
      width: 100%;
    }
  }

}

.block10 {
  padding-bottom: 135px;

  @include max-s(768px){
    padding-bottom: 50px;
  }
}

.RevievsVideo {
  width: 100%;
  margin: 0 auto;
 

    @include max-s(1260px){
      width: 93%; 
    }
    @include max-s(1110px){
      width: 90%; 
    }
    @include max-s(768px){
      width: 100%; 
    }

  &.owl-carousel .owl-stage {
    padding: 0;
  }
  &.owl-carousel .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
  }

}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #ffffff;
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}




.Accardion {

  .Acc-block {
    background: #468ADA;
    margin-bottom: 20px;

    &:hover {
      background: #5f94d3;
    }

    .Acc-Title {
      @include font400(30px, 30px);
      color: #fff;
      padding: 15px 50px  15px 15px;
      position: relative;

      @include max-s(768px){
        @include font400(25px, 25px);
      }

      &:before {
        content: "";
        position: absolute;
        top:50%;
        right: 10px;
        background: url('../images/arrow-accardion.svg') left 0px no-repeat;
        width: 35px;
        height: 35px;
        margin-top: -17px;
      }
      &:hover { cursor: pointer; }
    }
    .Acc-Text {
      display: none;
      @include fontN(20px, 24px);
      color: #000;
      padding: 15px;
      background: #fff;
    }
    &:last-child  {border-bottom:  1px solid #ECECEC; }

    &.open {
      .Acc-Title {

        &:before {
          transform: rotate(180deg);

        }
      }
    }
  }

}

.block12 {
  background: $blue-bg;
  
}


.Zayavka {
 
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;

  &__content {
    display: flex;
    flex: 0 0 100%;
  }

  &__container {
    max-width: 1160px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__forma {
    width: 45%;
    padding: 30px 0;

    @include max-s(960px){
      flex: 0 0 400px;
    }
    @include max-s(768px){
      flex: 0 0 100%;
      
    }
  }

  &__forma-titile {
    @extend %HD2;
    text-align: center;
    margin-bottom: 30px;
  }

  &__img {
    flex: 0 0 680px;
    transform: translate(-90%, 0px);
    font-size: 0;

    @include max-s(1200px){
      flex: 0 0 507px;
      transform: translate(-100%, 0px);
    }

    @include max-s(960px){
      flex: 0 0 43%;
    }

    @include max-s(768px){
      display: none;      
    }
  }
}

.Forma {
  max-width: 390px;
  margin: 0 auto;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__wrap-item {
    width: 48%;

    input {
      width: 100%;
      height: 40px;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }

  &__title {
    @include font500(12px,16px);
    color: #000;
    margin-bottom: 5px;
  }

  

  &__text {
    margin-bottom: 30px;

    textarea {
      width: 100%;
      height: 110px;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      padding: 10px;
      box-sizing: border-box;

    }
  }


  &__submit {
    margin-bottom: 20px;
    .btn {
      width: 100%;
      border:none;
    }
  }
}

.politica {
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  input {
    margin-right: 10px;
    height: 20px;
    width: 17px;
  }

  span {
    display: block;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    line-height: 17.97px;
    overflow: hidden;

    & a {
      text-decoration: underline;
      color: $blue-color;
    }

    & a:hover {
      text-decoration: none;
    }
  }
}


.Map {
  position: relative;
  &__wrap {
    z-index: 9;

  }
  
  &__info {
    width: 400px;
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 10;
    padding:20px;
    background: #468ADA;
    
      @include max-s(768px){
        position: static;
        width: 100%;
      }
  }
  
  &__in {
    border: 1px dashed #ffffff73;
      padding: 20px;
  }
  
  &__info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    div {
      flex:0 0 90px;
      @include font500(18px, 24px);
      color: #fff;
      margin-right: 15px;
    }

    span {
      flex: 1 1;
      @include font400(18px, 24px);
      color: #fff;

      a {
        display: block;
      }
    }
  }
  &__socnet {
    text-align: center;
    a {
      margin: 0 10px;
    }
  }
}

footer {
  background: #468ADA;
}

.Foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;

    @include max-s(810px){
      justify-content: center; 
    }
    @include max-s(630px){
      justify-content: start; 
    }
    

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

      @include max-s(810px){
        margin-bottom: 20px;
        justify-content: center;
      }

      @include max-s(630px){
        justify-content: start;
      }

      
    ul {
      @include max-s(630px){
        width: 100%;
        justify-content: start;
      }

      &+ul {
        margin-left: 30px;
        @include max-s(630px){
          margin-left: 0px;
        }
      }
      li {
        padding-bottom: 10px;
        a {
          @include font500(16px,24px);
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__contact {
    width: 200px;
    text-align: right;

    @include max-s(810px){
      width: 100%;
      text-align: center; 
    }
    
    a {
      display: block;
      @include font400(21px,24px);
      color: #fff;
      text-decoration: none;
      margin-bottom: 5px;

      &:hover {
        text-decoration: underline;
      }
    } 
  }

  &__contact-soc {
    margin-top: 20px;
    text-align: right;

      @include max-s(810px){
        text-align: center; 
      }

    a {
      display: inline-block;
    }
    img {
      margin: 0 10px;
    }
  }
}



.FormaM {
  width: 430px;
  margin: 0px auto;
  position: relative;
  padding: 15px;
  background: #C7DCF4;
  border-radius: 5px;
  box-shadow: 0 0 16px #fff;

  @include max-s(500px) {
    width: 90%;
    margin: 0 auto;
  }

  & .Modalclose {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: -7px;
    right: 5px;
    font-weight: normal;
    opacity: 0.6;

    &:hover {
      opacity: 1;
      text-shadow: 0 1px 3px #999;
    }
  }

  .ModalH {
    margin-bottom: 30px;

    .hd {
      font-size: 22px;
      font-family: Tahoma;
      text-align: center;
      color: $blue-color;
    }

    p {
      font-size: 18px;
      font-family: Tahoma;
      text-align: center;
      color: $blue-color;
    }
  }

  form {
    .e {
      text-align: center;
      margin-bottom: 20px;

      input {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 38px;
        padding-left: 10px;
        width: 283px;

        @include max-s(500px) {
          width: 90%;
        }
      }
    }
  }

  button {
    background: #468ADA;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 296px;
    height: 40px;
    border: none;
    margin: 0 auto 20px;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 40px;
    text-shadow: 0 1px 1px #999;

    @include max-s(500px) {
      width: 90%;
    }

    &:hover {
      box-shadow: 0 0 6px #999;
    }
  }
}


.success {
  @include font500(25px,24px);
  color: #19a51d;
  margin-top: 20px;
  text-align: center;
}


.AccExpert {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  //margin: 0 -5px;
  //position: relative;

  padding-bottom: 6px;

  &__item {

    &.open {
      .AccExpert__img {
        border: 3px solid #468ADA;
      }
      .AccExpert__img-txt {
        background: #468ADA;
        .name, .status {
          color: #fff;
        }
      }

      .AccExpert__Text {
        display: block;
      }
    }

  }

  &__img {
    display: none;
    font-size: 0;
      @include max-s(768px){
        display: block;
        text-align: center;
        border-top: 3px solid #C7DCF4; 
        border-right:3px solid #C7DCF4;
        border-left: 3px solid #C7DCF4;
        border-bottom: none;
        position: relative;
        //border: 3px solid #C7DCF4;
      }
  }

  &__img-txt {
    position: relative;
    background: $blue-bg;
    padding:30px 5px 20px;

    .name {
      @include font500(18px,22px);
      color: #000;
      margin-bottom: 30px;
    }

    .status {
      @include font400(18px,21px);
      color: #000;
      padding:0 30px 0px 0;
    }
  }

  &__arrow {
    background: url('../images/arrow-accardion2.svg') center top no-repeat;
    width: 30px;
    height: 30px; 
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &__Text {

    ul {
      list-style: disc;
      margin-left: 30px;
      margin-bottom: 20px;
      li {
        @include font500(20px,24px);
        color: #000;
        margin-bottom: 5px;
      }
    }
    p {
      @include font700(20px,24px);
      color: #000;
      
      span {
        color: $blue-color;
      }
    }
  }

  
}




.WrapTabs {

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;

    @include max-s(768px){
      display: none; 
    }    
  }

  &__tab {
    flex: 1 1;
    margin: 0 5px;
    position: relative;
    font-size: 0;

    &.active {
      .AccExpert__img-txt .name,
      .AccExpert__img-txt .status {
        color: #fff;
      }
      .AccExpert__img-txt {
        background: #468ADA;
      }
      .AccExpert__arrow {
        background: url('../images/arrow-accardion2-down.svg') center top no-repeat;
      }
    }

    
  }

  &__body {

  }

  &__cont {
    display: none;
    width: 100%;

    @include max-s(768px){
      display: block; 
    }

    &.active {
      display: block;
    }

    .AccExpert__Text {
      display: block;
      border: 3px solid #468ADA;
      width: 100%;
      padding: 20px;
      margin: 0 auto;
    }
  }

}